In [1]:
import numpy as np
import pandas as pd

import datetime
from pandas.tseries.frequencies import to_offset

import niftyutils
from niftyutils import load_nifty_data

import matplotlib.pyplot as plt

In [2]:
start_date = datetime.datetime(2005,8,1)
end_date = datetime.datetime(2020,9,25)
nifty_data = load_nifty_data(start_date,end_date)

In [8]:
six_day_returns = (nifty_data['Close']/nifty_data['Close'].shift(6) - 1)*100
six_day_returns = six_day_returns.dropna()

In [11]:
daily_returns = (nifty_data['Close']/nifty_data['Close'].shift(1) - 1)*100
daily_returns = daily_returns.dropna()

In [10]:
extreme_overbought = six_day_returns[six_day_returns>7.0]

In [13]:
pct_change_after_overbought = []
for ix, price in extreme_overbought.iteritems():
    pct_change_by_day = []
    for i in range(1,4):
        after_ix = daily_returns.index.get_loc(ix) + i
        ret = daily_returns[after_ix]
        pct_change_by_day.append(ret)
    
    pct_change_after_overbought.append(pct_change_by_day)

In [16]:
overbought_study_data = pd.DataFrame(pct_change_after_overbought, columns=['1st','2nd','3rd'],
                                                                   index = extreme_overbought.index)
overbought_study_data = pd.concat([extreme_overbought, overbought_study_data], axis=1)
overbought_study_data

                Close       1st       2nd       3rd
Date
2005-11-09   7.471773  0.466032  1.917463  0.394326
2006-06-21   9.767957  2.438899  1.601135  0.249778
2006-06-22  13.747721  1.601135  0.249778 -3.511130
2006-06-23   8.714449  0.249778 -3.511130  1.333582
2006-07-05   7.197103 -1.273029 -2.551958  2.150625
...               ...       ...       ...       ...
2020-04-30   7.320976 -5.744480 -0.945822  0.709351
2020-06-01   7.905559  1.556561  0.826227 -0.322515
2020-06-02  10.397433  0.826227 -0.322515  1.127220
2020-06-03  11.435312 -0.322515  1.127220  0.249454
2020-06-04   7.666708  1.127220  0.249454 -1.188105

[78 rows x 4 columns]

In [17]:
overbought_study_data.describe()

           Close        1st        2nd        3rd
count  78.000000  78.000000  78.000000  78.000000
mean   10.356656  -0.151136  -0.108883   0.135226
std     3.477166   2.166567   2.295001   2.337109
min     7.014786  -6.657667  -6.657667  -6.657667
25%     7.797431  -1.010416  -1.321998  -1.231190
50%     9.202984  -0.001189   0.144707   0.207339
75%    11.844521   0.908558   1.076855   1.282035
max    21.598297   5.894719   5.894719   8.763205

In [19]:
overbought_study_data[overbought_study_data['Close'].between(7.0,10.0)].describe()

           Close        1st        2nd        3rd
count  49.000000  49.000000  49.000000  49.000000
mean    8.271444   0.158783   0.101263   0.062725
std     0.897162   1.973465   2.158062   1.975343
min     7.014786  -6.657667  -6.180930  -6.657667
25%     7.544279  -0.276616  -0.998305  -1.108652
50%     7.967812   0.134828   0.165224   0.146348
75%     9.102093   1.127220   1.124189   1.215464
max     9.971955   4.732727   5.894719   4.460922

In [20]:
overbought_study_data[overbought_study_data['Close'].between(7.0,10.0)]

               Close       1st       2nd       3rd
Date
2005-11-09  7.471773  0.466032  1.917463  0.394326
2006-06-21  9.767957  2.438899  1.601135  0.249778
2006-06-23  8.714449  0.249778 -3.511130  1.333582
2006-07-05  7.197103 -1.273029 -2.551958  2.150625
2006-07-27  7.617424 -0.803194  0.396065  0.146348
2007-08-31  8.482485  0.240815  0.100564 -0.075906
2007-09-24  9.167773  0.134828  0.033409  1.215464
2007-09-25  9.882861  0.033409  1.215464  0.415954
2007-09-26  8.673178  1.215464  0.415954  0.947952
2007-10-10  7.348662  1.532680 -1.748464  4.460922
2007-10-15  9.343695 -0.041443 -1.918649 -3.746875
2007-10-31  7.800026 -0.579597  1.124189 -1.434495
2008-02-19  8.725551 -2.392630  0.724617 -1.561116
2008-03-27  7.264995  2.313545 -4.198705  0.106664
2008-03-28  9.022722 -4.198705  0.106664  0.309101
2008-07-25  9.238194  0.469636 -3.283627  2.952373
2008-08-06  7.821282  0.139456  0.124894  2.006844
2008-11-06  7.749758  2.777730  5.894719 -6.657667
2008-11-10  9.102093 -6.657667 -3.069437 -1.337570
2008-12-10  9.144955 -0.276616  0.041094  2.048710
2008-12-11  9.870946  0.041094  2.048710  2.031061
2008-12-12  9.971955  2.048710  2.031061 -2.873346
2009-01-05  9.246653 -0.277115 -6.180930 -1.623065
2009-03-17  7.014786  1.350886  0.445486 -0.003562
2009-03-19  9.093912 -0.003562  4.732727 -0.040818
2009-03-20  7.243691  4.732727 -0.040818  1.553408
2009-03-23  8.114370 -0.040818  1.553408  3.280446
2009-03-25  8.228617  3.280446  0.856517 -4.197964
2009-04-02  7.596294  1.418539  2.651538 -0.026922
2009-04-08  7.537034 -0.026922  1.213327  3.002129
2009-05-04  9.719845  0.216201 -1.006308  1.623426
2009-05-08  7.683614 -1.825614  3.558769 -1.245552
2009-07-17  7.204205  2.909748 -0.736299 -1.570786
2009-07-24  7.967812  0.082083 -0.179341 -1.108652
2009-11-11  9.641973 -1.025190  0.934853  1.182248
2011-09-07  7.937360  0.558087 -1.820211 -2.226527
2011-10-14  8.018858 -0.273756 -1.577688  2.017866
2013-09-10  7.766183  0.278119 -1.056121 -0.001709
2013-09-12  9.533928 -0.001709 -0.171777  0.165224
2013-09-13  7.387897 -0.171777  0.165224  0.841852
2014-05-15  7.073979  1.120993  0.840622  0.164520
2014-05-16  8.155589  0.840622  0.164520 -0.310632
2016-03-04  7.384587 -0.000668  0.621218 -0.606097
2016-03-09  7.796567 -0.606097  0.321260  0.380150
2019-09-27  7.544279 -0.329645 -0.998305 -0.404053
2020-04-15  8.135647  0.756277  3.046326 -0.052877
2020-04-30  7.320976 -5.744480 -0.945822  0.709351
2020-06-01  7.905559  1.556561  0.826227 -0.322515
2020-06-04  7.666708  1.127220  0.249454 -1.188105